<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Orders</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div align="center">
    <table>
        <tr>
            <td><a th:href="@{/}">Home</a></td>
            <td></td>
            <td><a th:href="@{/orders}">Orders</a></td>
        </tr>
    </table>
</div>
<div align="center">
    <form th:action="@{/orders/new-transfer-order}" th:object="${order}" method="post">
        <table border="1">
            <tr>
                <td>Получатель</td>
                <td><input type="text" th:field="*{receiver}"/></td>
            </tr>
            <tr>
                <td>Количество коробов</td>
                <td><input type="number" th:field="*{numberOfBoxes}"/></td>
            </tr>
            <tr>
                <td>Комментарий</td>
                <td><input type="text" th:field="*{comment}"/></td>
            </tr>
        </table>
        <button type="submit">Save</button>
    </form>
</div>


</body>
</html>